<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script src="{{STATIC_URL}}script/main.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}style/main.css" />

</head>
<body>

<button id="pull">Get latest forms</button>
<a href="#" id="clear" style="font-size: 80%; padding-left: 30px;">clear all forms (for debugging)</a>

<hr>

<table id="xforms"><thead><td>form</td><td>last updated</td></thead><tbody /></table>

<script>

PULL_FORMS_URL = '{% url pportal.main.views.form_pull %}';
FORMS = {{ formlist|safe }};

$(document).ready(function() {
        init(FORMS);
    });

</script>

</body>
</html>
