<html>
<head>
<title>User management</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}script/knockout-2.1.0.js"></script>

<script src="{{STATIC_URL}}script/main.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}style/main.css" />

</head>
<body>

<h1>Manage Users</h1>
<hr>


<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}


$(document).ready(function() {

    });

</script>

</body>
</html>
