<html>
<head>
<title>User management</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}script/knockout-2.1.0.js"></script>

<script src="{{STATIC_URL}}script/main.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}style/main.css" />
<link rel="stylesheet" href="{{STATIC_URL}}style/admin.css" />

</head>
<body>

<h1>Manage Users</h1>
<hr>


<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}


$(document).ready(function() {

    });

</script>

</body>
</html>

<!--

<html>
<head>
<title>Patient Selection</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}script/knockout-2.1.0.js"></script>

<script src="{{STATIC_URL}}script/main.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}style/main.css" />

</head>
<body>

<div style="float: left; padding-right: 50px;">
<h3>choose study</h3>
<div data-bind="foreach: studies">
<div>
<input data-bind="attr: { id: 'study' + $index(), value: tag }, checked: $parent.selected_study" type="radio" name="study" /> <label data-bind="attr: { for: 'study' + $index() }, text: name"></label>
</div>
</div>
</div>

<div data-bind="visible: selected_study" style="float: left; padding-right: 50px;">
<h3>choose subject</h3>
<div data-bind="visible: loading_subjects" style="font-style: italic;">loading subjects&hellip;</div>
<div data-bind="foreach: subjects">
<div>
<input data-bind="attr: { id: 'subj' + $index(), value: id }, checked: $parent.selected_subject" type="radio" name="subject" /> <label data-bind="attr: { for: 'subj' + $index() }, text: id"></label>
</div>
</div>
</div>

<div data-bind="visible: selected_subject, click: go" style="float: left">
<h3>&nbsp;</h3>
<button>Go</button>
</div>

<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}


GET_STUDIES_URL = '{% url pportal.main.views.get_studies %}'
PULL_FORMS_URL = '{% url pportal.main.views.form_pull "" %}';
GET_SUBJECTS_URL = '{% url pportal.main.views.get_subjects "" %}';
PATIENT_LANDING_URL = '{% url pportal.main.views.patient_landing "--subjid--" "--studyname--" %}';

FORMS = {{ formlist|safe }};

$(document).ready(function() {
        init_landing(FORMS);
    });

</script>

</body>
</html>

-->
