<html>
<head>
<title>Patient Landing Page</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{STATIC_URL}}script/knockout-2.1.0.js"></script>

<script src="{{STATIC_URL}}script/main.js"></script>

<link rel="stylesheet" href="{{STATIC_URL}}style/main.css" />

</head>
<body>

<h1>Subject: {{ subject_id }}</h1>

<table>
<thead>
<td>Study</td>
<td>Event</td>
<td>#</td>
<td>Form</td>
</thead>
<tbody data-bind="foreach: upcoming">
<tr>
<td data-bind="text: study_name"></td>
<td data-bind="text: event_name"></td>
<td data-bind="text: (event_ordinal() ? event_ordinal() : '&mdash;')"></td>
<td data-bind="text: form_name"></td>
<!-- todo: this url construction is a little out of hand -->
<td><a data-bind="attr: { href: '/formplay/' + $parent.subject_oid() + '/' + form_id() + '/' + (event_ordinal() || 0) }">fill out</a></td>
</tr>
</tbody>
</table>
<div class="empty" data-bind="visible: upcoming().length == 0">Nothing to fill out</div>

<script>

if (!window.console) {
    window.console = {
        log: function () { }
    };
}


CONTEXT = {{ context|safe }};

$(document).ready(function() {
        init_patient(CONTEXT);
    });

</script>

</body>
</html>
